$blue: rgb(10, 60, 118);
$light-blue: rgb(247, 250, 253);
$highlight-blue: rgb(212, 241, 254);

.container {
    height: fit-content;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 3rem 10rem;
    overflow: scroll;
}

h1 {
    color: $blue;
    margin-bottom: 1.5rem;
}

.search-input-box {
    width: 40%;
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid $blue;
    font-size: 16pt;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.teams-table {
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0 10px;

    thead {
        background: $blue;

        tr {
            color: white;

            th {
                padding: 1rem 0;
            }
        }
    }

    tbody {
        tr {
            background: $light-blue;
            &:hover {
                background: $highlight-blue;
            }
            
            td {
                padding: 1.5rem;
                font-weight: 600;
            }
        }

        .selected {
            background: $highlight-blue;
        }
    }
}

.overlay-container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);

    .side-card-container {
        position: fixed;
        right: 0;
        height: 100%;
        width: 600px;
        display: flex;
        flex-direction: column;
        background: white;
        z-index: 2;

        .random-game-details {
            margin: 1rem 2rem;
        }

        .side-card-info-container {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: row;
        }

        .side-card-header {
            height: 40px;
            width: 100%;
            display: flex;
            padding: 2rem;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.5rem;

            .close-overlay-btn {
                background: none;
                border: none;
                font-size: 20pt;
            }
        }
        
        .side-card-left, .side-card-right {
            padding: 0.5rem 3em;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;

            h3 {
                margin: 0.5rem 0;
            }
        }
    }
}